<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Insider Selenium Test Suite">
    <parameter name="browserName" value="Chrome"/>
    <test name="tests" parallel="false" thread-count="1" group-by-instances="true" preserve-order="true">
        <classes>
            <class name="ClearPageTest">
                <methods>
                    <include name="openPage"/>
                    <include name="makeTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>